<div class="container">

    <h2>Znate staru lozinku?</h2>
    <div class="row">

        <div class="col-md-6 mb-4 pb-2">
            <mat-form-field>
                <mat-label>Korisničko ime</mat-label>
                <input matInput [(ngModel)]="korisnicko_ime">
            </mat-form-field>
        </div>
        
        <div class="col-md-6 mb-4 pb-2">
            <mat-form-field>
                <mat-label>Stara lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="staralozinka">
            </mat-form-field>
        </div>
    
    </div>

    <div class="row">

        <div class="col-md-6 mb-4 pb-2">
            <mat-form-field>
                <mat-label>Nova lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="novalozinka">
            </mat-form-field>
        </div>

        <div class="col-md-6 mb-4 pb-2">

            <mat-form-field>
                <mat-label>Ponovljena lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="ponovljenalozinka">
            </mat-form-field>

        </div>

    </div>

    <div class="row">
      <div class="col-md-6 mb-4 pb-2"></div>
      <div class="col-md-3 mb-4 pb-2">
        <button class="dugme" mat-raised-button (click)="promeni()">Promeni</button>
      </div>
    </div>
    </div>