<app-student-navbar></app-student-navbar>

<div class="container">
    <h2>Arhiva časova</h2>
<table mat-table [dataSource]="casoviArhiva" class="mat-elevation-z8">

    <ng-container matColumnDef="rb">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let cas; let i=index"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let cas"> {{datumPrikaz(cas)}}</td>
    </ng-container>

    <ng-container matColumnDef="nastavnik">
        <th mat-header-cell *matHeaderCellDef> Nastavnik </th>
        <td mat-cell *matCellDef="let cas; let i=index1"> {{cas.nastavnikKombinovano.at(i).ime}} {{cas.nastavnikKombinovano.at(i).prezime}} </td>
    </ng-container>

    <ng-container matColumnDef="predmet">
        <th mat-header-cell *matHeaderCellDef> Predmet </th>
        <td mat-cell *matCellDef="let cas"> {{cas.predmet}} </td>
    </ng-container>

    <ng-container matColumnDef="komentarNastavnik">
        <th mat-header-cell *matHeaderCellDef> Komentar nastavnika </th>
        <td mat-cell *matCellDef="let cas"> {{cas.komentarNastavnik}} </td>
    </ng-container>

    <ng-container matColumnDef="komentar">
        <th mat-header-cell *matHeaderCellDef> Komentar i ocena </th>
        <td mat-cell *matCellDef="let cas">
            <span *ngIf="cas.komentarUcenik != undefined; else unos">{{cas.komentarUcenik}} - {{cas.ocenaUcenik}}</span>
            <ng-template #unos>
                <button mat-raised-button (click)="unesiKomentarIOcenu(cas)">Unesi</button>
            </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="kolone"></tr>
    <tr mat-row *matRowDef="let row; columns: kolone;"></tr>
</table>

<mat-divider></mat-divider>
<br>

<h2>Budući časovi</h2>

<table mat-table [dataSource]="casoviBuduci" class="mat-elevation-z8">

    <ng-container matColumnDef="rb">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let cas; let i=index"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef> Datum </th>
        <td mat-cell *matCellDef="let cas"> {{datumPrikaz(cas)}}</td>
    </ng-container>

    <ng-container matColumnDef="nastavnik">
        <th mat-header-cell *matHeaderCellDef> Nastavnik </th>
        <td mat-cell *matCellDef="let cas; let i=index2"> {{cas.nastavnikKombinovano.at(i).ime}} {{cas.nastavnikKombinovano.at(i).prezime}} </td>
    </ng-container>

    <ng-container matColumnDef="predmet">
        <th mat-header-cell *matHeaderCellDef> Predmet </th>
        <td mat-cell *matCellDef="let cas"> {{cas.predmet}} </td>
    </ng-container>

    <ng-container matColumnDef="opis">
        <th mat-header-cell *matHeaderCellDef> Opis </th>
        <td mat-cell *matCellDef="let cas">{{cas.opis}}</td>
    </ng-container>

    <ng-container matColumnDef="pridruzi">
        <th mat-header-cell *matHeaderCellDef> Pridruži se </th>
        <td mat-cell *matCellDef="let cas">
            <button mat-raised-button *ngIf="proveraPridruzi(cas)" (click)="pridruziSe(cas)">Priključi se času</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="kolone1"></tr>
    <tr mat-row *matRowDef="let row; columns: kolone1;"></tr>
</table>

</div>