<app-home-navbar></app-home-navbar>

<div class="container">

    <h2>Znate staru lozinku?</h2>
    <div class="row">

        <div class="col-md-6 mb-4 pb-2">
            <mat-form-field>
                <mat-label>Korisničko ime</mat-label>
                <input matInput [(ngModel)]="korisnicko_ime">
            </mat-form-field>
        </div>
        
        <div class="col-md-6 mb-4 pb-2">
            <mat-form-field>
                <mat-label>Stara lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="staralozinka">
            </mat-form-field>
        </div>
    
    </div>

    <div class="row">

        <div class="col-md-6 mb-4 pb-2">
            <mat-form-field>
                <mat-label>Nova lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="novalozinka">
            </mat-form-field>
        </div>

        <div class="col-md-6 mb-4 pb-2">

            <mat-form-field>
                <mat-label>Ponovljena lozinka</mat-label>
                <input matInput type="password" [(ngModel)]="ponovljenalozinka">
            </mat-form-field>

        </div>

    </div>

    <div class="row">
      <div class="col-md-6 mb-4 pb-2"></div>
      <div class="col-md-3 mb-4 pb-2">
        <button class="dugme" mat-raised-button (click)="promeni()">Promeni</button>
      </div>
    </div>

    <br>
    <mat-divider></mat-divider>
    <br>

    <h2>Zaboravili ste lozinku?</h2>

    <div>

        <mat-stepper linear #stepper>
            <mat-step [stepControl]="korisnickoImeGroup" [editable]="isEditable">
              <form [formGroup]="korisnickoImeGroup">
                <ng-template matStepLabel>Unesi korisničko ime</ng-template>
                <mat-form-field>
                  <mat-label>Korisničko ime</mat-label>
                  <input matInput [(ngModel)]="korisnicko_ime1" formControlName="korisnickoImeCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext (click)="dohvatiBezbedonosnoPitanje()">Sledeća</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="bezbedonosnoPitanjeGroup" [editable]="isEditable">
              <form [formGroup]="bezbedonosnoPitanjeGroup">
                <ng-template matStepLabel>Unesi odgovor na pitanje</ng-template>
                <p>{{bezbedonosno_pitanje.pitanje}}</p>
                <mat-form-field>
                  <mat-label>Odgovor</mat-label>
                  <input matInput [(ngModel)]="odgovor" formControlName="bezbedonosnoPitanjeCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Prethodna</button>
                  <button mat-button matStepperNext (click)="proveriOdgovor()">Sledeća</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Promena lozinke</ng-template>
              <p *ngIf="prikaz==0">{{poruka}}</p>
              <p *ngIf="prikaz==1">
                <label for="">Nova lozinka</label>
                <input matInput type="password" [(ngModel)]="lozinka">
                <br>
                <label for="">Ponovljena lozinka</label>
                <input matInput type="password" [(ngModel)]="ponovljena">
              </p>
                <div>
                    <button [disabled]="prikaz==0" mat-button (click)="zaboravljenaLozinka()">Promeni</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-stepper>

    </div>

</div>