<app-admin-navbar></app-admin-navbar>
<div class="container">
    <div>
        <canvasjs-chart [options]="chartOptionsPredmet" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>   
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsUzrast" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>   
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsNastavnikPol" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>     
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsUcenikPol" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsDaniUNedelji" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsAngazovani" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div> 
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsOtkazaniMesec" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div> 
    <br><br><hr><br><br>
    <div>
        <canvasjs-chart [options]="chartOptionsProsecnaNastavnik" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    </div> 
</div>