<app-student-navbar></app-student-navbar>

<div class="container">
  <h2>Obaveštenja</h2>

<mat-card *ngFor="let cas of casovi">
    <mat-card-header>
      <mat-card-title>Nastavnik {{cas.nastavnikKombinovano.at(0).ime}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
       {{tipObavestenja(cas)}} {{datumString(cas.datum)}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <span *ngIf="cas.procitano == 1">Pročitano</span>
      <button mat-button *ngIf="cas.procitano == 0" (click)="oznaciKaoProcitano(cas)">Označi kao pročitano</button>
    </mat-card-actions>
  </mat-card>
</div>