<mat-dialog-content>
    <p>Oceni</p>
    <mat-form-field style="width: 100%;">
        <mat-label>Komentar</mat-label>
        <textarea matInput [(ngModel)]="data.komentar"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ocena</mat-label>
      <input matInput type="number" min="1" max="5" [(ngModel)]="data.ocena">
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="ponisti()">Ponisti</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Unesi</button>
  </mat-dialog-actions>